<div class="invoice-container">
  <div class="invoice-box">
    <div class="position-relative">
      <div class="header">
        <div class="logo"> <b><img src="/assets/image/logo1.svg"></b> </div> <!--style to be removed if using image -->
        <h1>INVOICE</h1>
      </div>
      <div class="bg_shape"></div>
    </div>

    <div class="invoice-details">
      <p><b>Invoice No:</b> #{{ invoice.invoiceNumber }}</p>
      <p><b>Date:</b> {{ invoice.date }}</p>
    </div>

    <div class="row info pt-2">
      <div class="col-12 col-lg-6 text-start">
        <h3>Invoice To:</h3>
        <p>{{ invoice.customerName }}</p>
        <p>{{ invoice.customerAddress }}</p>
        <p>{{ invoice.customerEmail }}</p>
      </div>
      <div class="col-12 col-lg-6 text-end">
        <h3>Pay To:</h3>
        <p>{{ invoice.companyName }}</p>
        <p>{{ invoice.companyAddress }}</p>
        <p>{{ invoice.companyEmail }}</p>
      </div>
    </div>

    <div class="table-responsive table_data">
    <table class="table mb-0">
      <thead class="table-light">
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Qty</th>
          <th class="text-end">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoice.products">
          <td>{{ item.Product }}</td>
          <td>₹{{ item.price }}</td>
          <td>{{ item.qty }}</td>
          <td class="text-end">₹{{ item.total }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="row gx-0">
      <!-- <div class="col-12 col-lg-6 payment-info">
        <p><b>Payment info:</b> {{ invoice.paymentInfo }}</p>
        <p><b>Amount:</b> ₹{{ invoice.amount }}</p>
      </div> -->
      <div class="col-12 col-lg-5 totals">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <td><b>Subtotal:</b></td>
              <td class="text-end">₹{{ invoice.amount - invoice.tax }}</td>
            </tr>
            <tr>
              <td>
                <b>Tax (5%):</b>
              </td>
              <td class="text-end">
                +₹{{ invoice.tax }}
              </td>
            </tr>
            <tr class="grand_total">
              <td><b>Grand Total:</b></td>
              <td class="text-end"><b>₹{{ invoice.amount }}</b></td>
            </tr>
          </table>
        </div>
        <!-- <div class="col"><p><b>Subtotal:</b></p></div><div class="col"> <p>₹{{ invoice.amount - invoice.tax }}</p></div>
        <p><b>Tax (5%):</b> +₹{{ invoice.tax }}</p>
        <hr>
        <h2>Grand Total: ₹{{ invoice.amount }}</h2> -->
      </div>
    </div>
    

    <div class="terms">
      <h3>Terms & Conditions:</h3>
      <ul>
        <li>All claims relating to quantity or shipping errors shall be waived within 30 days.</li>
        <li>Delivery dates are not guaranteed and Seller has no liability for delays.</li>
      </ul>
    </div>

    <div class="text-center my-3"><button class="print-btn" (click)="printInvoice()">
      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" width="24" height="24" viewBox="0 0 512 512">
        <path d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"></path>
        <rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"></rect>
        <path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"></path>
        <circle cx="392" cy="184" r="24" fill="currentColor"></circle>
      </svg>
    </button></div>
  </div>
</div>
